<div class="container mt-4">
  <div class="row">
    <!-- Agrego un sidebar con un listado de enlaces a las secciones del contenido -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let key of contentKeys()">
            <a class="nav-link" href="#{{ key }}">{{ content[key].title }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Bucle para recorrer las claves del objeto content -->
      <div *ngFor="let key of contentKeys()" id="{{ key }}" class="card mb-3">
        <div class="card-header">
          <h2 class="card-title">{{ content[key].title }}</h2>
        </div>
        <div class="card-body">
          <!-- Condicional para mostrar un párrafo o una lista -->
          <!-- Si content[key].paragraph existe, muestro un párrafo -->
          <ng-container *ngIf="content[key].paragraph; else contentList">
            <div *ngFor="let para of content[key].paragraph">
              <!-- Uso innerHTML para renderizar el contenido HTML y poder mostrar comandos -->
              <p class="mb-0" [innerHTML]="para"></p>
            </div>
          </ng-container>
          <ng-template #contentList>
            <!-- Si content[key].listItems es un array, muestro una lista -->
            <ng-container *ngIf="content[key].listItems;">
              <ol class="list-group">
                <li class="list-group-item d-flex align-items-start" *ngFor="let item of content[key].listItems; let i = index">
                  <span class="me-2">{{ i + 1 }}.</span>
                  <!-- Uso innerHTML para renderizar el contenido HTML y poder mostrar comandos -->
                  <p class="mb-0" [innerHTML]="item"></p>
                </li>
              </ol>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </main>
  </div>
</div>

<app-welcome-message></app-welcome-message>